<!DOCTYPE html>
<html ng-app="ToDo">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="todo.js"></script>
    </head>
    <body>
        <div ng-controller="TodoController as todoCtrl">
            <form ng-submit="todoCtrl.addTodo()">
                <input ng-model="todoCtrl.todoText">
                </input>
                <input type="submit" value="Add Item">
                </input>
            </form>
            <ul>
                <li ng-repeat="todo in todoCtrl.todos | filter:todoCtrl.search">
                    <input type="checkbox" ng-model="todo.done">
                    </input>
                    {{todo.text}}
                </li>
            </ul>
        
    </body>
</html>
