<!DOCTYPE html>
<html ng-app="ToDo">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="static/todo.js"></script>
    </head>
    <body>
        <div ng-controller="TodoController as todoCtrl">
            <a href ng-click="todoCtrl.search.done = false">
                To Do
            </a>
            <a href ng-click="todoCtrl.search.done = true">
                Archive
            </a>
            
            <form ng-submit="todoCtrl.addTodo()" ng-hide="todoCtrl.search.done">
                <input ng-model="todoCtrl.todoText">
                </input>
                <input type="submit" value="Add Item">
                </input>
            </form>
            <ul>
                <li ng-repeat="todo in todoCtrl.todos | filter:todoCtrl.search">
                    <input type="checkbox" ng-model="todo.done">
                    </input>
                    <input ng-model="todo.text" style="border:0" ng-hide="todo.done">
                    </input>
                    <span ng-show="todo.done">
                        {{todo.text}}
                    </span>
                </li>
            </ul>
            <p ng-hide="todoCtrl.search.done">
                {{todoCtrl.getRemainingCount()}} remaining!
            </p>
            <a href ng-click="todoCtrl.markAllDone()" ng-hide="todoCtrl.search.done">
                Mark all as done 
            </a>
            <a href ng-click="todoCtrl.deleteArchiveAll()" ng-show="todoCtrl.search.done">
               Delete all from Archive
            </a> 

        
    </body>
</html>
