<!DOCTYPE html>
<html ng-app="ToDo">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://apis.google.com/js/client:platform.js" async defer></script>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="static/todo.js"></script>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body style="margin-top: 20px">
    <!--  container fluid for full-width container -->
    <div class="container-fluid" style="max-width: 960px; margin:auto">
        <!-- SigninController is around everything (semi-global) because it controls
        the entire layout. If this was true production code, this would need to be
        refactored, because dependencies should be separate for testing (i.e. disable
        signin...for automated tests, for instance). Things should be loosely-coupled,
        and this was tightly coupled. -->
        <div ng-controller="SigninController as signinCtrl">

            <!-- user isn't logged in; show signin button-->
            <div ng-hide="signinCtrl.loggedIn || !signinCtrl.loginCheck">
                <div class="jumbotron">
                    <h1>Malea's Cool Todo App</h1>
                    <p>You have a lot of tasks. Why not manage them here?</p>
                    <p>
                        <span id="signinButton">
                            <span
                                class="g-signin"
                                data-callback="globalGoogleSigninCallback"
                                data-clientid="736007921871-u6v7ab2sivmog588i319lcsrb7drovkr.apps.googleusercontent.com"
                                data-cookiepolicy="single_host_origin"
                                data-scope="profile">
                            </span>
                        </span>
                    </p>
                </div>
            </div>

            <!-- user is logged in; show main page -->
            <div ng-show="signinCtrl.loggedIn && signinCtrl.hasToken">
                <div ng-controller="TodoController as todoCtrl">
                    <ul class="nav nav-tabs" role="tablist">
                        <!-- search is the TodoControllers filter. It is how
                        the app knows which tasks are visible. The only two
                        searches I've implemented are completed vs. not completed
                        which correspond to To Do vs. Archive. More functionality
                        could be added here in a larger scoped project.

                        Bad design choice on my part: Instead of corresponding
                        this class with clicks as it should of been, I used the
                        search filter: i.e. if the filter is showing done, I
                        have it in Archive, if the filter is showing not done, it
                        is in Todo. -->
                        <li ng-class="{active: !todoCtrl.search.done}">
                            <a href ng-click="todoCtrl.search.done = false">
                                To Do
                            </a>
                        </li>
                        <li ng-class="{active: todoCtrl.search.done}">
                            <a href ng-click="todoCtrl.search.done = true">
                                Archive
                            </a>
                        </li>
                        <!-- ng-click is evaluated within angular's current scope,
                        which does not contain gapi (google's client-side js stuff)
                        so used onclick. -->
                        <li>
                            <a href onclick="gapi.auth.signOut()">
                                Log Out
                            </a>
                        </li>
                    </ul>
                    <!-- Form to type in new todo shown when filter is on not done 
                    stuff. As above, not a great choice. -->
                    <form ng-submit="todoCtrl.addTodo()" ng-hide="todoCtrl.search.done">
                        <input ng-model="todoCtrl.todoText" autofocus>
                        </input>
                        <button type="submit" class="btn btn-primary">Add Item</button>
                        </input>
                    </form>
                    <ul>
                        <li ng-repeat="todo in todoCtrl.todos | filter:todoCtrl.search">
                            <div class="checkbox">
                                <!-- Originally this was ng-model for todo.done, but
                                this made todos instantly disappear from filtered view
                                (checkbox action happened to fast. 

                                To resolve, I did a probably quite bad thing:
                                whenever someone changes the checkbox, I use callback
                                to change this done value to the opposite, except
                                the callback waits half a second before doing so.
                                I couldn't get ng-change to work unless it was attached
                                to a ng-model, so had to make a bogus model. -->
                                <input type="checkbox" ng-change="todoCtrl.check(todo)" ng-model="todo.boguschecked">
                                </input>
                                <input class="form-control" ng-model="todo.text" style="border:0" ng-change="todoCtrl.updateTask(todo)" ng-hide="todo.done">
                                </input>
                                <span ng-show="todo.done">
                                    {{todo.text}}
                                </span>
                            </div>
                        </li>
                    </ul>
                    <!-- Show # tasks remaining only in !done filter -->
                    <p ng-hide="todoCtrl.search.done">
                        {{todoCtrl.getRemainingCount()}} remaining!
                    </p>
                    <a href ng-click="todoCtrl.markAllDone()" ng-hide="todoCtrl.search.done">
                        Mark all as done 
                    </a>
                    <a href ng-click="todoCtrl.deleteArchiveAll()" ng-show="todoCtrl.search.done">
                       Delete all from Archive
                    </a> 
                </div>
            </div>
        
    </div>
    </body>
</html>
